@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>ProudSource.us is a platform used to connect investors and entrepreneurs with small businesses and startups. Essentially, it's crowdfunding with a financial return. However unlike other financial instruments like traditional loans and equity. We will be using financial instruments based on PROC: Progressive Return on Capital. It is a security that guarantees investors a share of revenue, discounted for costs, for a definite period of time. All trades will eventually be able to be made using all national currencies, cryptocurrencies and eventually precious metals.</p>
