<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="ProudSourceDataBase"
            connectionString="Data Source=proudsourcedb.cabob60kfwoz.us-west-2.rds.amazonaws.com;Initial Catalog=ProudSourceDataBase;Persist Security Info=True;User ID=PSSqlDeveloper;Password=securityisselfdefeating"
            providerName="System.Data.SqlClient" />-->
      <add name="ProudSourceDataBase"
        connectionString="Data Source=psstaging.cabob60kfwoz.us-west-2.rds.amazonaws.com;Initial Catalog=ProudSourceDataBase;Persist Security Info=True;User ID=PSSqlEngineer;Password=iforgotthemilkagain"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>