<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="connectionTimeout" value="120000"/>
      <add name="mode" value="sandbox"/>
      <add name="clientId" value="AR_ToDLYihltifJqvP5FW5cJaOGMDOJcnFxTUFHxpeXHZnxARm_Rp-RwPIF9qoK0gJGndYGe6K84a69z"/>
      <add name="clientSecret" value="EMDUSwoqTuArlOZGGSM_LJZWNmCglELctDJ_zDX8x01B5evlCsHMq1Yijdq_GpXNNOWLzkSSosBrjOun"/>
    </settings>
  </paypal>

  <connectionStrings>
      <add name="ProudSourceStaging" connectionString="Data Source=stagingt-sql.cabob60kfwoz.us-west-2.rds.amazonaws.com;Initial Catalog=ProudSourceAccounting;Persist Security Info=True;User ID=PSQLManager;Password=InovationMeetsInvestment"
          providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
</configuration>