
<div class="footer">
    <div class="inner">
        <div id="column1" class="column">
            <div class="title">About Us</div>

            <div>What is ProudSource?</div>
            <div>Who we are</div>
            <div>Jobs</div>
            <div>Press</div>
            <div>Stats</div>
            <div>Newsletters</div>

        </div>

        <div id="column2" class="column">
            <div class="title">Help</div>

            <div>FAQ</div>
            <div>Our Rules</div>
            <div>Creator Handbook</div>
            <div>Trust & Safety</div>
            <div>Support</div>
            <div>Terms of Use</div>
            <div>Privacy Policy</div>
        </div>

        <div id="column3" class="column">
            <div class="title">Explore</div>

            <div>Art</div>
            <div>Comics</div>
            <div>Crafts</div>
            <div>Design</div>
            <div>Fashion</div>
            <div>Food</div>
            <div>Film & Audio</div>
        </div>
    </div>

    <div class="copyright">
        @DateTime.Now.Year - ProudSource All rights reserved
    </div>
    
</div>

