body {
}

.clickable-tr {
    cursor: pointer;
    height: 50px;
}

.clickable-tr:hover {
    /*background-color: #EFEEEE;*/
    background-color: #EFEEEE !important;
}

.ent-project-btn {
    margin-top: 6px;
}
