$navbar-height: 90px;

$navbar-color: #F8F8F8;
$logo-color: #91CCFC;

$light-blue: #d7edff;
$superlight-blue: #e2f2ff;

$light-green: #befecf;
$superlight-green: #d8ffdd;

$superlight-gray: #eaeaea;

$title-height: 400px;

//flat row vars
$flat-row-height: 90px;


