
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Styles/Pages/Welcome/Index.css" />

<div class="container">
    
    @*<div class="row title-container">
            <div class="col-md-2 .col-lg-2 col-md-offset-5 title-box">
                PROUDSOURCE
            </div>
    </div>*@

    <div class="title-container" style="color: white;">

        <div class="title-box" style="text-align: center;">
            PROUDSOURCE
        </div>

        <div class="title-text" style="text-align: center;">
            The new way to invest in companies you trust.
        </div>

    </div>

    <div class="below">

        <div class="col-md-12 text-center below-title">
            <b>WHAT IS PROUDSOURCE?</b>
        </div>

        <div class="col-md-4 center-text detail-box">
            <div class="detail-box-title">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <b>Entrepreneurs</b>
            </div>
            <div>
                Proudsource's goal is to create an environment where small companies can get investments from people that are super awesome.  
            </div>
        </div>

        <div class="col-md-4 center-text detail-box">
            <div class="detail-box-title">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <b>Investors</b>
            </div>
            <div>
                Investors will be able to find companies and poeple they trust so they know where their money is going. Everyone will be happy because we are awesome. 
            </div>
        </div>

        <div class="col-md-4 center-text detail-box">
            <div class="detail-box-title">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                <b>Together</b>
            </div>
            <div>
                Investors and Entrepreneurs together will be able to create a world where companies can thrive, big or small. Everyone's dreams will come true
            </div>
        </div>

        <div class="col-md-12 under-detail-boxes center-text">
            <iframe width="100%" height="515" src="https://www.youtube.com/embed/7x9JiPcPEyo" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>

</div>
