<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProudSourceStaging" connectionString="Data Source=stagingt-sql.cabob60kfwoz.us-west-2.rds.amazonaws.com;Initial Catalog=ProudSourceAccounting;Persist Security Info=True;User ID=PSQLManager;Password=InovationMeetsInvestment"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>