body {
}

.project-title {
    position: fixed;
    font-family: Kankin;
    font-size: 500%;
    width: 100%;
    left: 0px;
    height: 125px;
    margin: auto;
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.project-data-holder {
    margin: auto;
    width: 1%;
    display: table;
    margin-top: 85px;
}

.project-image-holder {
    height: auto;
    text-align: center;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #F4F4F4;
    border-radius: 0px 0px 10px 10px;
    border-width: 10px !important;
}

.profile-image {
    width: 10px;
    height: 10px;
}

/*SLIDE SHOW*/
.slideshow-next-btn {
    width: 55px;
    height: 55px;
    text-align: center;
    background-color: rgba(2, 2, 2, 0.39);
    border-radius: 50%;
    color: white;
    font-size: 30px;
    padding-top: 5px;
}

.funded{
    font-size: 375%;
    text-align: center;
}

.project-image {
    height: 600px;
    width: 800px;
}

.project-description {
    clear: left;
    font-size: 140%;
    padding: 20px;
}

.project-under {
    clear: left;
    font-size: 250%;
    padding: 20px;
}

.progress {
    height: 30px;
}

.progress-bar {
    color: black;
    vertical-align: middle;
}

.percent-text {
    text-align: left;
    font-size: 160%;
    margin-top: 5px;
    margin-left: 12px;
}