/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */
@font-face {
  font-family: 'OpenSans-regular';
  /*a name to be used later*/
  src: url("../../fonts/openSans/OpenSans-Regular.ttf");
  /*URL to font*/ }

@font-face {
  font-family: 'OpenSans-bold';
  /*a name to be used later*/
  src: url("../../fonts/openSans/OpenSans-Bold.ttf");
  /*URL to font*/ }

body {
  font-family: "OpenSans-regular", Helvetica, Arial, sans-serif; }

/* FRAMEWORK - Structure and layout files.
========================================================================== */
body {
  margin-top: 90px; }

.logo-color {
  color: #91CCFC !important; }
  .logo-color:hover {
    color: #91CCFC !important; }
  .logo-color:selected {
    color: #91CCFC !important; }

.center-text {
  text-align: center; }

.margin-auto {
  margin: auto; }

/* Components - Re-usable site elements.
========================================================================== */
#logo {
  width: 80px;
  height: 80px;
  margin-top: 5px; }

@media (max-width: 1024px) {
  .navbar {
    font-size: 12px; } }

@media (max-width: 920px) {
  .navbar {
    font-size: 9px; } }

.navbar-nav li a {
  font-family: "OpenSans-bold";
  line-height: 90px;
  height: 90px;
  padding-top: 0;
  font-size: 160%; }

.navbar-brand {
  font-family: "OpenSans-regular";
  line-height: 90px;
  height: 90px;
  padding-top: 0;
  font-size: 160%;
  margin-left: 15px; }
  .navbar-brand img {
    float: left; }
  .navbar-brand #navbar-brand-text {
    float: left;
    margin-left: 20px;
    color: #91CCFC; }

.navbar-logo {
  float: left;
  width: 80px;
  margin-left: 20px; }

.navbar-hover :hover {
  background-color: #f2f2f2 !important;
  color: grey !important; }

.navbar-hover :focus {
  color: grey !important; }

.title-content-push {
  height: 400px; }

.title-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 400px;
  background-color: black;
  background-image: url("../../Images/shapes-bg.jpg");
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #888B8D; }
  .title-container .title {
    color: white;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    padding-top: 145px; }
  .title-container .mini-title {
    color: white;
    font-size: 30px; }

.animated-title-container {
  z-index: 10;
  box-shadow: 0px 2px 10px #888888;
  position: fixed;
  top: 90px;
  height: 400px; }
  .animated-title-container .title {
    position: fixed;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 75px;
    margin-bottom: 0px;
    padding-bottom: 0px; }

.flat-row {
  float: left;
  width: 100%;
  height: 90px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E9;
  border-bottom-width: 2px; }
  @media (max-width: 1220px) {
    .flat-row .extra-info-col {
      display: none; } }
  .flat-row #name-col {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    min-width: 150px;
    line-height: 90px; }
  .flat-row .col-xs-2 {
    margin-top: 22.5px; }

.flat-row:hover {
  background-color: #f3f3f3; }

.flat-row:hover .ent-project-btn {
  display: block; }

.flat-row .ent-project-btn {
  width: 100px; }

.flat-row .title {
  color: #808184;
  float: left;
  height: 90px;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  line-height: 90px;
  margin-left: 20px; }

.flat-row .icon {
  font-size: 40px;
  line-height: 90px;
  margin-left: 50px; }

.flatRow-btn {
  width: 100px;
  height: 90px;
  display: none; }

.flat-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  pointer-events: all;
  padding: 11px; }

.flat-button-small {
  height: 40px;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px; }

#profile-editor {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  background-color: #cde9ff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 150%; }

#form-div {
  padding: 25px; }

.form-group {
  margin-top: 30px;
  margin-bottom: 30px; }

/* Helpers - Re-usable site elements.
========================================================================== */
.center {
  text-align: center; }

.fill-center-text {
  text-align: center;
  width: 100%;
  font-size: 300%; }

.container-full {
  width: 100%;
  padding: 0px; }

.col-full {
  padding: 0px; }

/*Colors*/
.green {
  background-color: #2ecc71; }

.yellow {
  background-color: #f1c40f; }

.blue {
  background-color: #4894F2; }

.indigo {
  background-color: #d6def5; }

.blue :hover {
  background-color: #4894F2 !important; }

/*Profile images*/
.profile-thumbnail {
  height: 200px;
  width: 200px;
  border-radius: 100px; }

.profile-thumbnail-small {
  width: 75px;
  height: 75px;
  border-radius: 42.5px; }

