@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="intro-container-div" class="intro-container-div">
    <div class="container">
        <div></div>
        <div>
            <h3>What is ProudSource?</h3>
            <p class="text-left">
                ProudSource.us is a platform used to connect investors and entrepreneurs with small businesses and startups. Essentially, it's crowdfunding with a financial return. However unlike other financial instruments like traditional loans and equity. We will be using financial instruments based on PROC: Progressive Return on Capital. It is a security that guarantees investors a share of revenue, discounted for costs, for a definite period of time. All trades will eventually be able to be made using all national currencies, cryptocurrencies and eventually precious metals.
            </p>
            <h3>Vision</h3>
            <p class="text-left">
                ProudSource.us aims to take what the internet age has inherited, the cloud and enshrine finance within it. Our team works around the clock to decentralize the most corrupt and inefficient institutions in the modern economy: the banks. By using tools with less transaction costs, we can pass the savings onto our customers, allowing anyone to invest or build a business. In essence, we will take the sharing economy to its radical conclusion, the sharing and accumulation of capital on a global scale.
            </p>
        </div>
    </div>
</div>
