@{
    ViewBag.Title = "Contact info";
}
<div class="container">
    <div>
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </div>
    <div>
        <div></div>
        <address>
            345 Lincoln Ave<br />
            Palo Alto, CA 94301<br />
            <abbr title="Phone">P:</abbr>
            +1 952.380.6998
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@proudsource.us">Support@proudsource.us</a><br />
            <strong>Business Verification:</strong> <a href="mailto:Verification@proudsource.us">Verification@proudsource.us</a>
        </address>
    </div>
</div>
