@{
    ViewBag.Title = "Welcome to ProudSource";
}

<link href="~/Content/Home/index.css" rel="stylesheet" type="text/css" />

<div class="title-container">
    <div class="homeBoxHolder" id="homeBoxHolder">

        <div class="homeBox" id="homeBox">
            <div class="homePRText">
                PROUDSOURCE
            </div>
        </div>

        <div class="homeIntroText">
            The new way to invest in companies you belive in.
        </div>

        @*<div class="getStartedBtnHolder">
            <button class="flat-button get-started-btn">Get Started!</button>
        </div>*@

        @*<div class="under-title-container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="template-header">Become a Member</h2>
                    <p class="template-words">
                        Register with us and see what Projects the community is working on.
                    </p>
                    <p><a class="btn btn-default" href="/Account/Register/">Registration &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2 class="template-header">Login</h2>
                    <p class="template-words">Already have an account, then login.</p>
                    <p><a class="btn btn-default" href="/Account/Login">Portal &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2 class="template-header">Explore</h2>
                    <p class="template-words">Discover what the community has to offer.</p>
                    <p><a class="btn btn-default" href="/Search/">Explore &raquo;</a></p>
                </div>
            </div>
        </div>*@

    </div>
</div>
