@model ProudSourceBeta.Models.InvestorIndexViewModel

<link href="~/Content/User/index.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Shared/Shared.css" rel="stylesheet" type="text/css" />

<div id="investContainer">

    <div class="container">

        <div class="data-container bordered-grey">

            <div class="data-title">
                <b>Verified Investor:</b>
            </div>
            <div class="data">
                @Model.Verified
            </div>
            <br />
            <div class="data-title">
                <b>Investor Account Balance</b>
            </div>
            <div class="data">
                $@Model.Balance_USD
            </div>
            <br />
            <div class="data-title">
                <button class="flat-button green" onclick="(function go() { window.location = '@string.Format("/FinancialAccount/Index/{0}", Model.Financial_Account_ID)' })()">
                    Deposit Money
                </button>
            </div>
            <br />
            @*<div class="data-title">
                <b>Edit profile</b>
            </div>
            <div class="data">
                <a class="btn btn-default" href="@string.Format("/Investor/Edit/{0}", Model.Investor_ID )">Go >></a>
            </div>*@
            <br />
        </div>

    </div>

</div>
