@model ProudSourceBeta.Models.UserIndexViewModel

@{
    ViewBag.Title = "Dashboard";
}

@using Microsoft.AspNet.Identity;

@*@Html.Partial("_TestPartial")*@

<link href="~/Content/User/index.css" rel="stylesheet" type="text/css" />

<div class="title-container">
    <div class="title">
        Profile
    </div>
</div>

@* ----PROFILES---- *@

@Html.Partial("_ProfilePage")

@* ---- ENTREPRENEUR ----- *@

@*@Html.Partial("_EntPage", new ProudSourceBeta.Models.EntrepreneurIndexViewModel(Model.Entrepreneur_ID, User.Identity.GetUserId()))*@

@* ---- INVESTOR ---- *@

@Html.Partial("_InvestPage", new ProudSourceBeta.Models.InvestorIndexViewModel(User.Identity.GetUserId().ToString(), Model.Investor_ID))
