<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About ProudSource</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'MVP/styles/style.css' %}">
  </head>

<body>
    <header class="header"></header>
		<section class="about">
			<h1>Introduction</h1>
			<p>This is an about me page for <a href="http://www.proudsource.us/" target="_blank">Proudsource</a>.</p>
		</section>

		<section class="questions">
			<h2>More about Proudsource</h2>
			<h3>What do we do?</h3>
			<p>This is what we do</p>
		</section>

		<footer class="footer">
			<p>You can find out more about Proudsource in these places</p>
			<ul class="social">
				<li><a href="https://twitter.com/proudsource" target="=_blank">Twitter</li>
				<li><a href="https://github.com/Proudsource" target="_blank">Github</li>
				<li><a href="https://www.facebook.com/ProudsourceMe" target="_blank">Facebook</li>
			</ul>
		</footer>
  </body>
</html>
